{% extends "layout.html" %}
{% block content %}
<div class="container">
        <h1> The album {{album}} by {{artist}} was composed in <font color = #2975a7> {{correct3}}</font>. </h1>
        <br>
        <p>You thought that it was composed in {{answer3}}.</p>
        <br>
        {% if answer3 == correct3 %}
        <p> <font color ="green"> You response was correct ! </font></p>
        {% else %}
        <p> <font color="red">  You were wrong :) </font></p>
        {% endif %}
        <br>
        You have {{count}} question correct so far.
        <br>
        <br>
          <form action="/question6">

            <button type="submit"> Onto the next question </button>
          </form>
        <br>
        <br>
        <a href="/question3"> Back to Question 3</a>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script>
window.onSpotifyWebPlaybackSDKReady = () => {
  // You can now initialize Spotify.Player and use the SDK
};
</script>
</div>
{% endblock content%}
