{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href= "{{ url_for('static', filename = 'style.css') }}">
<div class="container">
  <center>
        <h1> The most popular track is <font color = #2975a7>{{correct2}}</font>. </h1>
        <br>
        <h5>
        <p>You thought the most danceable song was {{answer2}}.</p>
        {% if answer2 == correct2 %}
        <p> <font color ="green"> You response was correct ! </font></p>
        {% else %}
        <p> <font color="red">  You were wrong :) </font></p>
        {% endif %}
        </h5>
        <br>
        <br>
        <br>
        <iframe src="{{ link }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <br>
        <br>
          <form action="/question3">

            <button type="submit"> Onto the next question </button>
          </form>
        <br>
        <br>
  </center>
</div>
{% endblock content%}
