{% extends "layout.html" %}
{% block content %}
<div class="container">
  <center>
  <h1> End of the test </h1>
      <br>
      <h4>
            This is the end of the test!
            <br>
            <br>
            <br>
            You responded {{ count }} questions correctly out of 5.
            <br>
            <br>
            {% if count > 2 %}
            <p> <font color ="green"> This is a good score ! Well done ! </font></p>
            {% else %}
            <p> <font color ="red"> We are sure you can do better ! Do you want to try again ? </font></p>
      </h4>

        <form action="/question1">
            <button type="submit"> Yes, let's give it another go !</button>
        </form>
          {% endif %}

      <br>
      <form action="/summary">
          <button type="submit"> Click here to check out your most heard tracks </button>
      </form>

      <br>

      <iframe src="https://open.spotify.com/embed/track/2JzZzZUQj3Qff7wapcbKjc" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </center>
</div>
{% endblock content%}
