{% extends "layout.html" %}
{% block content %}
<div class="container">
  <center>
      <h1>
          <font color = green> Well done !
            <br>
            <br>
            You just created a playlist of your most heard tracks.
            <br>
            If you go on your account, it should look like in the picture below.
            <br>
            <br>
            Enjoy :)
            <br>
      </h1>
      <img src="/Users/armandkouyoumdjian/Documents/Programmation/_Python_/Projet_ac_Rodolphe/Interaction_API/Browser/templates/playlist.png" alt = " Spotify new playlist" width = "400" height = "341">

  </center>
</div>
{% endblock content %}
