{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href= "{{ url_for('static', filename = 'style.css') }}">
<div class="container">
        <h1> Question 1 - Guess the genre ... </h1> <br>

          <h4> Spotify records the genre(s) each track belongs to: hip-hop, french rap, ...
          <br>
          <br> <font color = #2975a7> Among your top tracks, {{ track }} was picked at random. What genre would you say {{ track }} corresponds to ? </font> </h4>
          <br> <br>(hint: trying several options such as "option1 option2" may help you)
          <br> <br> The genres are {{ genres }}

          <form action="/question1" method="post">
              <div class="form-group">
                <input type="text" name="answer1">
              </div>
              <input type="submit" class= "btn-primary" value="submit">
          </form>
        <br>
</div>

{% endblock content%}
