{% extends "layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" href= "{{ url_for('static', filename = 'style.css') }}"> -->
<div class="container">

  <body>
      <h1> <font color = "blue"> Here is a summary table of your most heard tracks for the past month  </font></h1>
      <br>
      <br>
      
      <form action="/question1">

        <button type="submit" id = "search"> Click here to start the quizz </button>
      </form>


      {{html_user_tracks}}
  </body>
</div>
{% endblock content%}
